#float {
	position: sticky;
	top: 0;
	float: left;
	border-radius: 25px;
	border: 2px solid #73AD21;
	padding: 5px;
}

aside {
	background-color: #ffff99;
	width: 300px;
	height: 1500px;
	margin: 5px;
}
