div {
	position: sticky;
	top: 5px;
	border-radius: 25px;
	border: 2px solid #73AD21;
	padding: 5px;
	width: 500px;
	height: 140px;
	float: left;
	margin: 5px;
}

img {
	float: right;
	width: 100px;
	height: 130px;
	margin: 5px;
}

aside {
	background-color: #ffff99;
	width: 300px;
	height: 1500px;
	margin-right: 5px;
	margin-left: auto;
	padding: 10px;
}
